.categoryArea {
  display: flex;
  gap: 5px;
  padding: 15px;
  justify-content: center;
}

.categoryArea button {
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid transparent;
}

.categoryArea button:hover {
  border: 2px solid rgb(72, 78, 250);
}
