.navArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

input {
  font-size: 1.4rem;
  padding: 4px;
  border-radius: 10px;
}

.findBtn {
  padding: 4px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}
